<html xmlns:th="http://www.thymeleaf.org">
    </script>
    <head>
        <title>home shit home</title>
    </head>
    <body>
        <a href="/auth/signup">회원가입</a>
        <h4></h4>
        <a href="/auth/login">로그인</a>
        <h4></h4>
        <a href="/view/info">회원이 신고한 목록</a>
        <h4></h4>
        <a href="/view/loading">로딩창 테스트</a>
        <h4></h4>

        <h4>dev</h4>
        <h4></h4>
        <a href="/test/addVoi">통화 테이블에 임시 데이터 추가하기</a>
        <h4></h4>
        <a href="/api/VoiClaReq">py로 음성파일 전달</a>
        <h4></h4>
<!--        <button type="submit" class=>토큰으로 인증 후 전달</button>-->
<!--            <form th:action="@{/api/VoiClaReq}"-->
<!--                  role="form" action="#" id="postForm" method="get" >-->
                <th:block th:if="${token != null}">
                    <div th:text="${token.accessToken}"></div>
                </th:block>
<!--            </form>-->
            <h4></h4>
            <div th:text="${cookie}"></div>


        <h4></h4>

        <div th:text="@{${@environment.getProperty('url.py')} + ''}"></div>
        <div th:text="@{${@environment.getProperty('url.api')} + ''}"></div>
        <div th:text="@{${@environment.getProperty('url.app')} + ''}"></div>
    </body>
</html>

